aiohttp==3.8.3
aiosignal==1.2.0
argcomplete==2.0.0
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.1.0
beautifulsoup4==4.11.0
black==22.6.0
blivet==3.4.4
blivet-gui==2.3.0
cairocffi==1.3.0
CairoSVG==2.5.2
catfish==4.16.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
click==8.1.3
colour==0.1.5
cssselect2==0.6.0
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
defusedxml==0.7.1
discord==2.0.0
discord.py==2.0.1
distlib==0.3.4
distro==1.6.0
EditorConfig==0.12.3
fb-re2==1.0.7
filelock==3.3.1
frozenlist==1.3.1
gpg==1.17.0
greenlet==1.1.2
humanize==3.13.1
idna==3.3
initial-setup==0.3.94
jsbeautifier==1.14.6
langtable==0.0.60
Levenshtein==0.20.5
libcomps==0.1.18
lxml==4.7.1
mercurial==6.1.4
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
nftables==0.1
numpy==1.23.2
olefile==0.46
packaging==21.3
pathspec==0.9.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.1.0
pipenv==2021.5.29
platformdirs==2.5.2
ply==3.11
powerline-status==2.8.3
productmd==1.33
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.21.0
pycparser==2.20
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
pyfiglet==0.8.post1
pygit2==1.7.1
Pygments==2.11.2
PyGObject==3.42.1
pykickstart==3.36
pynvim==0.4.3
pyparsing==2.4.7
pyparted==3.12.0
PySocks==1.7.1
pystray==0.17.3
python-augeas==1.1.0
python-dateutil==2.8.1
python-gettext==4.0
python-Levenshtein==0.20.5
python-manatools==0.0.4
python-meh==0.50
python-xlib==0.31
pyudev==0.22.0
pyxdg==0.27
PyYAML==6.0
rapidfuzz==2.11.1
regex==2022.9.13
requests==2.27.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.17.1
selinux==3.3
sepolicy==3.3
setools==4.4.0
setproctitle==1.2.2
setroubleshoot==3.3.29
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.3
soupsieve==2.3.1
systemd-python==234
termdown==1.18.0
thefuzz==0.19.0
tinycss2==1.1.1
tomli==2.0.1
urllib3==1.26.12
vermin==1.4.2
virtualenv==20.13.4
virtualenv-clone==0.5.7
webencodings==0.5.1
wxPython @ https://extras.wxpython.org/wxPython4/extras/linux/gtk3/fedora-36/wxPython-4.2.0-cp310-cp310-linux_x86_64.whl
xcffib==0.11.1
yarl==1.8.1
